In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df.head()

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
0,0,A,80.10,material_7,material_8,9,5,7,8,4,...,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100,0
1,1,A,84.89,material_7,material_8,9,5,14,3,3,...,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0
2,2,A,82.43,material_7,material_8,9,5,12,1,5,...,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376,0
3,3,A,101.07,material_7,material_8,9,5,13,2,6,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0
4,4,A,188.06,material_7,material_8,9,5,9,2,8,...,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0

In [4]:
df.shape

(26570, 26)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26570 entries, 0 to 26569
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              26570 non-null  int64
 1   product_code    26570 non-null  object
 2   loading         26320 non-null  float64
 3   attribute_0     26570 non-null  object
 4   attribute_1     26570 non-null  object
 5   attribute_2     26570 non-null  int64
 6   attribute_3     26570 non-null  int64
 7   measurement_0   26570 non-null  int64
 8   measurement_1   26570 non-null  int64
 9   measurement_2   26570 non-null  int64
 10  measurement_3   26189 non-null  float64
 11  measurement_4   26032 non-null  float64
 12  measurement_5   25894 non-null  float64
 13  measurement_6   25774 non-null  float64
 14  measurement_7   25633 non-null  float64
 15  measurement_8   25522 non-null  float64
 16  measurement_9   25343 non-null  float64
 17  measurement_10  25270 non-null  float64
 18  measurement_11  25102 non-null  float64
 19  measurement_12  24969 non-null  float64
 20  measurement_13  24796 non-null  float64
 21  measurement_14  24696 non-null  float64
 22  measurement_15  24561 non-null  float64
 23  measurement_16  24460 non-null  float64
 24  measurement_17  24286 non-null  float64
 25  failure         26570 non-null  int64
dtypes: float64(16), int64(7), object(3)
memory usage: 5.3+ MB

In [6]:
df = df.dropna()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12183 entries, 1 to 26569
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              12183 non-null  int64
 1   product_code    12183 non-null  object
 2   loading         12183 non-null  float64
 3   attribute_0     12183 non-null  object
 4   attribute_1     12183 non-null  object
 5   attribute_2     12183 non-null  int64
 6   attribute_3     12183 non-null  int64
 7   measurement_0   12183 non-null  int64
 8   measurement_1   12183 non-null  int64
 9   measurement_2   12183 non-null  int64
 10  measurement_3   12183 non-null  float64
 11  measurement_4   12183 non-null  float64
 12  measurement_5   12183 non-null  float64
 13  measurement_6   12183 non-null  float64
 14  measurement_7   12183 non-null  float64
 15  measurement_8   12183 non-null  float64
 16  measurement_9   12183 non-null  float64
 17  measurement_10  12183 non-null  float64
 18  measurement_11  12183 non-null  float64
 19  measurement_12  12183 non-null  float64
 20  measurement_13  12183 non-null  float64
 21  measurement_14  12183 non-null  float64
 22  measurement_15  12183 non-null  float64
 23  measurement_16  12183 non-null  float64
 24  measurement_17  12183 non-null  float64
 25  failure         12183 non-null  int64
dtypes: float64(16), int64(7), object(3)
memory usage: 2.5+ MB

In [8]:
df = df.drop("id",axis = 1)

In [9]:
df.head()

,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
1,A,84.89,material_7,material_8,9,5,14,3,3,18.213,...,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0
3,A,101.07,material_7,material_8,9,5,13,2,6,17.295,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0
4,A,188.06,material_7,material_8,9,5,9,2,8,19.346,...,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0
7,A,177.92,material_7,material_8,9,5,4,8,8,17.062,...,10.254,16.449,20.478,12.207,15.624,16.968,15.176,17.231,684.000,1
11,A,175.38,material_7,material_8,9,5,7,3,2,17.029,...,11.309,16.310,18.959,11.520,14.659,15.355,15.175,15.829,792.591,1

In [10]:
df.product_code.unique()

array(['A', 'B', 'C', 'D', 'E'], dtype=object)

In [11]:
df.attribute_0.unique()

array(['material_7', 'material_5'], dtype=object)

In [12]:
df.attribute_1.unique()

array(['material_8', 'material_5', 'material_6'], dtype=object)

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
le = LabelEncoder()

In [15]:
df["product_code"] = le.fit_transform(df["product_code"])

In [16]:
df["attribute_0"] = le.fit_transform(df["attribute_0"])
df["attribute_1"] = le.fit_transform(df["attribute_1"])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12183 entries, 1 to 26569
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_code    12183 non-null  int32
 1   loading         12183 non-null  float64
 2   attribute_0     12183 non-null  int32
 3   attribute_1     12183 non-null  int32
 4   attribute_2     12183 non-null  int64
 5   attribute_3     12183 non-null  int64
 6   measurement_0   12183 non-null  int64
 7   measurement_1   12183 non-null  int64
 8   measurement_2   12183 non-null  int64
 9   measurement_3   12183 non-null  float64
 10  measurement_4   12183 non-null  float64
 11  measurement_5   12183 non-null  float64
 12  measurement_6   12183 non-null  float64
 13  measurement_7   12183 non-null  float64
 14  measurement_8   12183 non-null  float64
 15  measurement_9   12183 non-null  float64
 16  measurement_10  12183 non-null  float64
 17  measurement_11  12183 non-null  float64
 18  measurement_12  12183 non-null  float64
 19  measurement_13  12183 non-null  float64
 20  measurement_14  12183 non-null  float64
 21  measurement_15  12183 non-null  float64
 22  measurement_16  12183 non-null  float64
 23  measurement_17  12183 non-null  float64
 24  failure         12183 non-null  int64
dtypes: float64(16), int32(3), int64(6)
memory usage: 2.3 MB

In [18]:

cols_to_scale = ["product_code","loading","attribute_0","attribute_1","attribute_2","attribute_3","measurement_0","measurement_1","measurement_2","measurement_3","measurement_4","measurement_5","measurement_6","measurement_7","measurement_8","measurement_9","measurement_10","measurement_11","measurement_12","measurement_13","measurement_14","measurement_15","measurement_16","measurement_17"]
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[cols_to_scale] = scaler.fit_transform(df[cols_to_scale])
df.head()

,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
1,0.0,0.127750,1.0,1.0,1.0,0.0,0.538462,0.111111,0.125000,0.575406,...,0.654102,0.701943,0.420574,0.542178,0.325641,0.426116,0.455946,0.424962,0.492554,0
3,0.0,0.174641,1.0,1.0,1.0,0.0,0.500000,0.074074,0.250000,0.446978,...,0.657166,0.566070,0.456200,0.399391,0.371268,0.437547,0.609089,0.542595,0.638944,0
4,0.0,0.426750,1.0,1.0,1.0,0.0,0.346154,0.074074,0.333333,0.733912,...,0.372936,0.628533,0.576110,0.597564,0.453360,0.203755,0.347815,0.484580,0.388849,0
7,0.0,0.397363,1.0,1.0,1.0,0.0,0.153846,0.296296,0.333333,0.414382,...,0.361881,0.574811,0.618214,0.579376,0.404210,0.554860,0.523942,0.547099,0.494527,1
11,0.0,0.390001,1.0,1.0,1.0,0.0,0.269231,0.111111,0.083333,0.409765,...,0.502397,0.563015,0.501080,0.522838,0.319211,0.420275,0.523855,0.440076,0.604748,1

In [19]:
X = df.drop("failure",axis = 1)
y = df["failure"]

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [22]:
# from sklearn.linear_model import LogisticRegression

In [23]:
# lr = LogisticRegression()

In [24]:
# lr.fit(X_train, y_train)

In [25]:
# lr.predict(X_test)

In [26]:
# lr.score(X_test, y_test)

In [27]:
# scores = []
# for i in range(1,100):
#     X_train, X_test, y_train, y_test = train_test_split(X,y, test_size= 0.2, random_state=i)
#     lr.fit(X_train,y_train)
#     scores.append(lr.score(X_test, y_test))

In [28]:
# max(scores)

In [29]:
# df.head()

In [30]:

# cols_to_scale = ["loading","attribute_0","attribute_1","attribute_2","attribute_3","measurement_0","measurement_1","measurement_2","measurement_3","measurement_4","measurement_5","measurement_6","measurement_7","measurement_8","measurement_9","measurement_10","measurement_11","measurement_12","measurement_13","measurement_14","measurement_15","measurement_16","measurement_17"]
# from sklearn.preprocessing import MinMaxScaler
# scaler = MinMaxScaler()
# df[cols_to_scale] = scaler.fit_transform(df[cols_to_scale])

In [32]:

import tensorflow as tf
from tensorflow import keras


model = keras.Sequential([
    keras.layers.Dense(24, input_shape=(24,), activation='relu'),
    keras.layers.Dense(15, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
])

# opt = keras.optimizers.Adam(learning_rate=0.01)

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(X_train, y_train, epochs=100)

Epoch 1/100
305/305 [==============================] - 3s 1ms/step - loss: 0.5277 - accuracy: 0.7885
Epoch 2/100
305/305 [==============================] - 0s 1ms/step - loss: 0.5165 - accuracy: 0.7891
Epoch 3/100
305/305 [==============================] - 0s 1ms/step - loss: 0.5164 - accuracy: 0.7891
Epoch 4/100
305/305 [==============================] - 0s 977us/step - loss: 0.5147 - accuracy: 0.7891
Epoch 5/100
305/305 [==============================] - 0s 977us/step - loss: 0.5138 - accuracy: 0.7891
Epoch 6/100
305/305 [==============================] - 0s 984us/step - loss: 0.5124 - accuracy: 0.7891
Epoch 7/100
305/305 [==============================] - 0s 977us/step - loss: 0.5124 - accuracy: 0.7891
Epoch 8/100
305/305 [==============================] - 0s 951us/step - loss: 0.5112 - accuracy: 0.7891
Epoch 9/100
305/305 [==============================] - 0s 957us/step - loss: 0.5104 - accuracy: 0.7891
Epoch 10/100
305/305 [==============================] - 0s 977us/step - loss: 0.5099 - accuracy: 0.7891
Epoch 11/100
305/305 [==============================] - 0s 951us/step - loss: 0.5103 - accuracy: 0.7891
Epoch 12/100
305/305 [==============================] - 0s 948us/step - loss: 0.5100 - accuracy: 0.7891
Epoch 13/100
305/305 [==============================] - 0s 957us/step - loss: 0.5092 - accuracy: 0.7891
Epoch 14/100
305/305 [==============================] - 0s 951us/step - loss: 0.5082 - accuracy: 0.7891
Epoch 15/100
305/305 [==============================] - 0s 954us/step - loss: 0.5086 - accuracy: 0.7891
Epoch 16/100
305/305 [==============================] - 0s 965us/step - loss: 0.5084 - accuracy: 0.7891
Epoch 17/100
305/305 [==============================] - 0s 967us/step - loss: 0.5077 - accuracy: 0.7891
Epoch 18/100
305/305 [==============================] - 0s 1ms/step - loss: 0.5077 - accuracy: 0.7891
Epoch 19/100
305/305 [==============================] - 0s 957us/step - loss: 0.5077 - accuracy: 0.7891
Epoch 20/100
305/305 [==============================] - 0s 1ms/step - loss: 0.5077 - accuracy: 0.7891
Epoch 21/100
305/305 [==============================] - 0s 967us/step - loss: 0.5080 - accuracy: 0.7891
Epoch 22/100
305/305 [==============================] - 0s 994us/step - loss: 0.5079 - accuracy: 0.7891
Epoch 23/100
305/305 [==============================] - 0s 997us/step - loss: 0.5071 - accuracy: 0.7891
Epoch 24/100
305/305 [==============================] - 0s 1ms/step - loss: 0.5077 - accuracy: 0.7891
Epoch 25/100
305/305 [==============================] - 0s 964us/step - loss: 0.5075 - accuracy: 0.7891
Epoch 26/100
305/305 [==============================] - 0s 984us/step - loss: 0.5069 - accuracy: 0.7891
Epoch 27/100
305/305 [==============================] - 0s 964us/step - loss: 0.5064 - accuracy: 0.7891
Epoch 28/100
305/305 [==============================] - 0s 956us/step - loss: 0.5061 - accuracy: 0.7891
Epoch 29/100
305/305 [==============================] - 0s 967us/step - loss: 0.5068 - accuracy: 0.7891
Epoch 30/100
305/305 [==============================] - 0s 1ms/step - loss: 0.5064 - accuracy: 0.7891
Epoch 31/100
305/305 [==============================] - 0s 974us/step - loss: 0.5065 - accuracy: 0.7891
Epoch 32/100
305/305 [==============================] - 0s 1ms/step - loss: 0.5066 - accuracy: 0.7891
Epoch 33/100
305/305 [==============================] - 0s 957us/step - loss: 0.5064 - accuracy: 0.7891
Epoch 34/100
305/305 [==============================] - 0s 1ms/step - loss: 0.5058 - accuracy: 0.7891
Epoch 35/100
305/305 [==============================] - 0s 1ms/step - loss: 0.5067 - accuracy: 0.7891
Epoch 36/100
305/305 [==============================] - 0s 981us/step - loss: 0.5053 - accuracy: 0.7891
Epoch 37/100
305/305 [==============================] - 0s 961us/step - loss: 0.5060 - accuracy: 0.7891
Epoch 38/100
305/305 [==============================] - 0s 954us/step - loss: 0.5058 - accuracy: 0.7891
Epoch 39/100
305/305 [==============================] - 0s 948us/step - loss: 0.5058 - accuracy: 0.7891
Epoch 40/100
305/305 [==============================] - 0s 951us/step - loss: 0.5062 - accuracy: 0.7891
Epoch 41/100
305/305 [==============================] - 0s 951us/step - loss: 0.5059 - accuracy: 0.7891
Epoch 42/100
305/305 [==============================] - 0s 961us/step - loss: 0.5063 - accuracy: 0.7891
Epoch 43/100
305/305 [==============================] - 0s 954us/step - loss: 0.5058 - accuracy: 0.7891
Epoch 44/100
305/305 [==============================] - 0s 984us/step - loss: 0.5057 - accuracy: 0.7891
Epoch 45/100
305/305 [==============================] - 0s 964us/step - loss: 0.5051 - accuracy: 0.7891
Epoch 46/100
305/305 [==============================] - 0s 957us/step - loss: 0.5053 - accuracy: 0.7891
Epoch 47/100
305/305 [==============================] - 0s 980us/step - loss: 0.5052 - accuracy: 0.7891
Epoch 48/100
305/305 [==============================] - 0s 967us/step - loss: 0.5051 - accuracy: 0.7891
Epoch 49/100
305/305 [==============================] - 0s 961us/step - loss: 0.5048 - accuracy: 0.7891
Epoch 50/100
305/305 [==============================] - 0s 977us/step - loss: 0.5045 - accuracy: 0.7891
Epoch 51/100
305/305 [==============================] - 0s 967us/step - loss: 0.5048 - accuracy: 0.7891
Epoch 52/100
305/305 [==============================] - 0s 970us/step - loss: 0.5045 - accuracy: 0.7891
Epoch 53/100
305/305 [==============================] - 0s 968us/step - loss: 0.5044 - accuracy: 0.7891
Epoch 54/100
305/305 [==============================] - 0s 974us/step - loss: 0.5046 - accuracy: 0.7891
Epoch 55/100
305/305 [==============================] - 0s 994us/step - loss: 0.5042 - accuracy: 0.7891
Epoch 56/100
305/305 [==============================] - 0s 954us/step - loss: 0.5049 - accuracy: 0.7891
Epoch 57/100
305/305 [==============================] - 0s 980us/step - loss: 0.5042 - accuracy: 0.7891
Epoch 58/100
305/305 [==============================] - 0s 967us/step - loss: 0.5038 - accuracy: 0.7891
Epoch 59/100
305/305 [==============================] - 0s 957us/step - loss: 0.5038 - accuracy: 0.7891
Epoch 60/100
305/305 [==============================] - 0s 967us/step - loss: 0.5036 - accuracy: 0.7891
Epoch 61/100
305/305 [==============================] - 0s 985us/step - loss: 0.5035 - accuracy: 0.7891
Epoch 62/100
305/305 [==============================] - 0s 979us/step - loss: 0.5039 - accuracy: 0.7891
Epoch 63/100
305/305 [==============================] - 0s 961us/step - loss: 0.5040 - accuracy: 0.7891
Epoch 64/100
305/305 [==============================] - 0s 971us/step - loss: 0.5034 - accuracy: 0.7891
Epoch 65/100
305/305 [==============================] - 0s 964us/step - loss: 0.5034 - accuracy: 0.7891
Epoch 66/100
305/305 [==============================] - 0s 964us/step - loss: 0.5030 - accuracy: 0.7891
Epoch 67/100
305/305 [==============================] - 0s 987us/step - loss: 0.5026 - accuracy: 0.7891
Epoch 68/100
305/305 [==============================] - 0s 974us/step - loss: 0.5032 - accuracy: 0.7891
Epoch 69/100
305/305 [==============================] - 0s 971us/step - loss: 0.5032 - accuracy: 0.7891
Epoch 70/100
305/305 [==============================] - 0s 952us/step - loss: 0.5033 - accuracy: 0.7891
Epoch 71/100
305/305 [==============================] - 0s 974us/step - loss: 0.5031 - accuracy: 0.7891
Epoch 72/100
305/305 [==============================] - 0s 994us/step - loss: 0.5027 - accuracy: 0.7891
Epoch 73/100
305/305 [==============================] - 0s 957us/step - loss: 0.5025 - accuracy: 0.7891
Epoch 74/100
305/305 [==============================] - 0s 987us/step - loss: 0.5028 - accuracy: 0.7891
Epoch 75/100
305/305 [==============================] - 0s 974us/step - loss: 0.5021 - accuracy: 0.7891
Epoch 76/100
305/305 [==============================] - 0s 961us/step - loss: 0.5022 - accuracy: 0.7891
Epoch 77/100
305/305 [==============================] - 0s 967us/step - loss: 0.5019 - accuracy: 0.7891
Epoch 78/100
305/305 [==============================] - 0s 951us/step - loss: 0.5015 - accuracy: 0.7891
Epoch 79/100
305/305 [==============================] - 0s 961us/step - loss: 0.5023 - accuracy: 0.7891
Epoch 80/100

305/305 [==============================] - 0s 977us/step - loss: 0.5025 - accuracy: 0.7891
Epoch 81/100
305/305 [==============================] - 0s 974us/step - loss: 0.5018 - accuracy: 0.7891
Epoch 82/100
305/305 [==============================] - 0s 967us/step - loss: 0.5017 - accuracy: 0.7891
Epoch 83/100
305/305 [==============================] - 0s 964us/step - loss: 0.5018 - accuracy: 0.7891
Epoch 84/100
305/305 [==============================] - 0s 980us/step - loss: 0.5020 - accuracy: 0.7890
Epoch 85/100
305/305 [==============================] - 0s 964us/step - loss: 0.5016 - accuracy: 0.7892
Epoch 86/100
305/305 [==============================] - 0s 961us/step - loss: 0.5010 - accuracy: 0.7891
Epoch 87/100
305/305 [==============================] - 0s 1ms/step - loss: 0.5015 - accuracy: 0.7890
Epoch 88/100
305/305 [==============================] - 0s 1ms/step - loss: 0.5012 - accuracy: 0.7893
Epoch 89/100
305/305 [==============================] - 0s 1ms/step - loss: 0.5013 - accuracy: 0.7891
Epoch 90/100
305/305 [==============================] - 0s 1ms/step - loss: 0.5004 - accuracy: 0.7890
Epoch 91/100
305/305 [==============================] - 0s 1ms/step - loss: 0.5005 - accuracy: 0.7889
Epoch 92/100
305/305 [==============================] - 0s 1ms/step - loss: 0.5003 - accuracy: 0.7893
Epoch 93/100
305/305 [==============================] - 0s 1ms/step - loss: 0.5002 - accuracy: 0.7891
Epoch 94/100
305/305 [==============================] - 0s 1ms/step - loss: 0.5005 - accuracy: 0.7891
Epoch 95/100
305/305 [==============================] - 0s 1ms/step - loss: 0.5008 - accuracy: 0.7893
Epoch 96/100
305/305 [==============================] - 0s 1ms/step - loss: 0.5004 - accuracy: 0.7892
Epoch 97/100
305/305 [==============================] - 0s 980us/step - loss: 0.5001 - accuracy: 0.7892
Epoch 98/100
305/305 [==============================] - 0s 967us/step - loss: 0.5002 - accuracy: 0.7890
Epoch 99/100
305/305 [==============================] - 0s 994us/step - loss: 0.4996 - accuracy: 0.7892
Epoch 100/100
305/305 [==============================] - 0s 998us/step - loss: 0.5001 - accuracy: 0.7893